body{
    background-image: #fff ;
    background-repeat:no-repeat;
    background-size: cover;	
    position: relative;
}
img{
    max-width:100%;	
}
header{
    height: 78px;
    background-image: url(../../frontend%20-%20Copia/img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    border-top: 4px solid #3B7819;
    position: relative;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
}
header h1{
    display:inline-block;
    margin: 0;
    padding: 0;
    height: 30px;
    padding-left: 14px;
}
header h1 a{
    margin-right: .5em;
    max-width: 380px;
    display: block;
}
header h1{
    vertical-align:top;
    padding: .25em;
    box-sizing: border-box;
    z-index: 100;
    height: 90px;
}
#buscador{
    position: absolute;
    bottom: 20px;
    right:0;
    width: 250px;
    height: 39px;
    padding: .5em;
    box-sizing:border-box;
    text-align: right;
    z-index: 50;
}
#buscador input[type=search]{
    border-radius: 1em;
    border: 1px solid #ddd;
    padding: .25em;
}
#buscador input[type=submit]{
    background:#3B7819 url(../../frontend%20-%20Copia/img/ic-buscador.png) no-repeat center;	
    height: 25px;
    width: 25px;
    border-radius: 1em;
    border:0;
    position: absolute;
    right: 10px;
    top: 29px;
}
#enlaces-header{
    position: absolute;
    width: 580px;
    height: 32px;
    background-image: url(../../frontend%20-%20Copia/img/bg-link-index.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -9px;
    right: 0;
    text-align: right;
    font-family: "calibri",helvetica,arial;
    font-size: 1em;
    z-index: 100;
    padding-top: 6px;
}
#enlaces-header a{
    margin: .5em;
    color: #fff;
    padding-left: 1.5em;
    box-sizing:border-box;
}
#enlaces-header a.link-home{
    background: url(../../frontend%20-%20Copia/img/ic-inicio.png) no-repeat left center; 
}
#enlaces-header a.link-mapa{
    background: url(../../frontend%20-%20Copia/img/ic-mapa.png) no-repeat left center;
    padding-left: 2em;
}
#enlaces-header a.link-contacto{
    background: url(../../frontend%20-%20Copia/img/ic-contacto.png) no-repeat left center;
}
.container{
    background: none;
    /* padding: 0; */
    padding-top: 10px;
    margin: 0;
    /* z-index: -1; */
    position: relative;
    box-sizing: border-box;
}
.span3{
    position: absolute;
    top: 150px;
    right:10px;
    background: #fff;
}

.span8 {
    width: 620px;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
.dos_columnas li{
    display: block;
    width: 100%;
    margin-left: 5px;
}
.dimli{
    margin-bottom: 5px;
    display: block;
}
.dimli input , .dimli span{
    display: inline-block;
    vertical-align: top;
    /* max-width: 100%; */
}
.dimli span{
    margin-top:2px;
    margin-left:4px
        ;
    /* color: #287E91; */
    display: inline-block;
    width: 85%;
    font-size: 1em;
}

.title-sidebar{
    background:blue;
    padding: .5em;  
    background: rgb(139, 139, 139);
    padding: .5em;
    color: #fff;
    display: block;
    box-sizing: border-box;
    color: #fff;
    border-radius: .25em .25em 0 0;
}
.well{
    padding: 0;
    margin-top: 10px;
    max-width: 315px;
    position: absolute;
    z-index: 10;
    width: 312px;
}
#contenido{
    background: #EFEFEF;
    width: 310px;
}
ul, ol{
    margin: 0;
    padding: 0 0px 0px 25px;
    box-sizing:border-box;
}
.nav-list label,.nav-list h4{
    color: #000;
    font-weight: bold;
    /* display: block; */
    //background:;
}
.nav-list label:hover{
    background:rgba(255,255,255,.6);
    cursor:pointer;
}
.nav-list .divider {
    height: 1px;
    /* margin: 9px 1px; */
    overflow: hidden;
    background-color: #F1F1F1;
    border-bottom: 1px solid #FFFFFF;
}
.tree-toggler .panel-title{
    /* background: #6E6E6E; */

    padding: .5em;

    /* border-radius: .5em; */
    /* display: block; */
    /* width: 100%; */
}
section#menu-lateral{
    position: absolute;
    left: 0;
    height: 100%;
    max-width: 200px;
    background: #ddd;
    top:110px;
}
header #menup{
    display: inline-block;
    width: 650px;	
    text-align: right;
    margin-left: 45px;
    height: 40px;
    padding:.5em
}
header #menup nav{
    width: 100%;
    display: inline-block;
    height:30px
}
header #menup nav li{
    margin: 0;
}
header #menup nav li a{
    font-size: .8em;
    padding: .5em;
    text-align: center;
}
header #menup nav li a:hover{
    background: #ddd;
}
.navbar-default{
    background: #fff;
}
.navbar-default .navbar-brand {
    color: #777;
    border-right: 1px solid #ddd;
}
/*
 *  STYLE 2
 */

.scroll::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    /* background-color: #999999; */
}

.scroll::-webkit-scrollbar
{
    width: 8px;
    /* background-color: #999999; */
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    /*-webkit-box-shadow: inset 0 0 6px #599402;*/
    background-color: #b4b4b4;
}
.well{
    /* background: none; */
    /* border: 0; */
    margin-left: 20px;
}

/*carousel*/

.container-enlaces {
    width: 900px;
    height: 140px;
    position: fixed;
    left: 25%;
    top: 20%;
    margin: 0 auto 40px;
    /* border: 1px solid #CCC;*/
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}
#enlaces{
    width: 100%;

    display: block;
    text-align: center;
}
#enlaces figure{
    vertical-align: top;
    display: inline-block
        ;
    margin: 1em;
}
.navbar-fixed-bottom {
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}
.ullimp li{
    list-style:none;	
}


input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 5px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 5px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 15px;
    width: 15px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 15px;
    width: 15px;
}

.prop-menu{
    /* padding: .5em; */		

    padding-left: 1em;
    margin-left: 0;
    /* background: url(../img/item-list.png) no-repeat top 5px left -12px; */
}
input[type=range],output{
    display: inline-block;
    /* vertical-align: top; */
    //padding-top:.5em;
}
input[type=range]{
    width: 80%;
}

.texto-index{
    font-size: 1.4em;

    text-align: justify;
    font-family: Calibri,helvetica,arial;
}
section#logos-index{
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 190px;
    padding-top: 30px;
}
section#logos-index figure{
    display: inline-block;
    vertical-align: middle;
    /* margin: .2em; */
    max-width: 40px;
}
section#img-inst figure{
    display: inline-block;
    vertical-align: middle;
    /* margin: .2em; */
    max-width: 100px;
}
section#img-inst figure a{
    display:block;
    padding:.2em;	
}
section#img-inst {
    position: fixed;
    bottom: 5px;
    right: 5px;

    width: 100%;
    text-align: center;
}
/*section#img-inst figure:nth-child(1){
        width: 20px;
}
section#img-inst figure:nth-child(2){
        max-width: 80px;
}*/
.dos_columnas li.subitem{	
    background: url(../../frontend%20-%20Copia/img/item-list.png) no-repeat top 9px left -12px;
    padding: 0;
    padding-left: 1em;
    margin-left: 0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.idiomas{
    padding:.25em;
    box-sizing:border-box;
    height: 20px;
}
.idiomas li{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.idiomas li a,.idiomas li span{
    display: block;
    color: #000;
    font-size: .8em;
    vertical-align: top;	
}

.ajustartexto{
    width: 200px;
    float: left;
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP */
    word-wrap: break-word; /* IE 5+ */
}
.modal-title{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 250px;
    
}
.modal-dialog {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 45px;
}
.form-signin-heading{
    font-size: 1.2em;
}
.modal-header{    
    background: #fff url(../../frontend%20-%20Copia/img/bg-login.png) repeat-x top;
}

.btn-block {
display: block;
width: 34%;
float: right;
}
.btn-lg, .btn-group-lg > .btn {
padding: 5px 10px;
font-size: 17px;
line-height: 1.3333333;
border-radius: 6px;
}






/*Estilos Nuevos*/
.top_menu ul
{

    list-style:none;
    float:right;
    padding: 1%;
    position: absolute;
    right: 0px;
    top: 0px;
}
.top_menu ul li
{
    float:left;

    margin-right:20px;

    margin-bottom:10px;

    //background: #3B7819;

    padding:1px;

    //border-radius: 15%;

}

.top_menu ul li a
{

    color: #FFFFFF;

    text-decoration:none;

}
.top_menu ul li a:hover
{
    color: blue;
}



@font-face {
  font-family: "FontAwesome";
  src: url("../../frontend - Copia/css/fontawesome-webfont.woff");
}
 .fa-times-circle:before { 
  font-family: "FontAwesome", sans-serif; 
  content: "\f057"; 
}

 .fa-check-circle:before { 
  font-family: "FontAwesome", sans-serif; 
  content: "\f058"; 
}
.verde {
    color: #008000;
}
.rojo {
    color: #F00;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: 130%;
    text-rendering: auto;
}